# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
instance/

# React
.next/
node_modules/
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project specific
*.db
*.sqlite
seed_programs.json
program_data.csv
frontend/.env production.local
